:root{
    /* Primary */

--Light-red: rgb(255, 87, 87);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* Gradients */

--Light-slate-blue-background: hsl(252, 100%, 67%);
--Light-royal-blue-background: hsl(241, 81%, 54%);

--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);



/*  Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(222, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.125rem;   
    font-family: 'Hanken Grotesk', sans-serif;
}
.bckOne{
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}
.bgCircle{
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
}
.cicleTitle{
    font-weight: 800;
}
/* button:hover{
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
} */